#pack-back {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
}

#pack-display {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);    
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8), -2px 2px rgba(0, 0, 0, 0.8), 
        2px -2px rgba(0, 0, 0, 0.8), -2px -2px rgba(0, 0, 0, 0.8);
}