<div id="pack-back" *ngIf="packContents != undefined"></div>
<div id="pack-display" class="panel" *ngIf="packContents != undefined">
    <div class="panel-interior">
        <div id="cards-container">
            <div class="card-holder"*ngFor="let card of packContents" >
                <app-card [card]="card.card.cardType"></app-card>
            </div>
        </div>
    </div>
</div>
<div id="pack-close"  *ngIf="packContents != undefined" class="panel" (click)="packContents = undefined">
    <div id="pack-close-interior">Close</div>
</div>