#store-section {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #041014;
    justify-content: center;
}

#store-packs {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    flex: 1;
    justify-content: center;
}

#store-packs-holder {
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #155066;
    user-select: none;

    &:hover {
        background-color: #155066;
    }

    &.isCurrent, &:active{
        background-color: #225972;
    }
}

#pack-information {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;

    img {
        vertical-align: bottom;
    }
}

#pack-count {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

    div {
        flex: 1;
    }
}

#store-purchase {
    flex: 1;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .purchase-amount {
        background-color: #155066;
        border-radius: 10px;
        padding: 4px 8px;
        margin-top: 5px;
        display: flex;
        font-size: 14px;
        cursor: pointer;
        transition: .1s;
        height: 18px;
        line-height: 18px;

        &:hover {
            background-color: #225972;
            height: 30px;
            line-height: 30px;
            transform: scaleX(1.1);
        }
        
        div {
            flex: 1;
        }

        .purchase-title {
        }

        .purchase-cost {
            padding-left: 10px;

            img {
                vertical-align: middle;
            }

            .purchase-discount {
                font-size: 10px;
            }
        }
    }
}