<div id="store-section">
    <div id="store-packs" *ngIf="cardPacks != undefined">
        <div id="store-packs-holder" *ngFor="let pack of cardPacks; index as i"
            [class.isCurrent]="chosenPackID == i" (click)="chosenPackID = i">
            <app-pack-model  [pack]="pack"></app-pack-model>
            <div id="pack-cost" style="background-image: url('assets/salesplosion.png')">
                ${{getPrice(pack)}}
            </div>
            <div id="pack-information">
                <div id="pack-count">
                    <div id="pack-count-amount">
                        <img src="assets/chest.png">
                        {{pack.cardCount}}
                    </div>
                    <div id="pack-count-foil">
                        <img src="assets/gem.png">
                        +{{pack.foilBoost}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="store-purchase" *ngIf="cardPacks != undefined">
        <div *ngFor="let discount of discounts" class="purchase-amount" 
            [class.affordable]="canAfford(cardPacks[chosenPackID], discount)"
            [id]="'purchase-' + discount.amount" 
            (click)="purchase(cardPacks[chosenPackID], discount)">
            <div class="purchase-title"><span class="buy-text">Buy </span>x{{discount.amount}}</div>
            <div class="purchase-cost">
                ${{getPrice(cardPacks[chosenPackID], discount)}}
                <span class="purchase-discount">
                    ({{(1 - discount.discount) * 100}}%)
                </span>
            </div>
        </div>
    </div>
</div>