
<div id="binder-container" *ngIf="activeCardSet != undefined">
    <div id="sets-container" style="position: relative; z-index: 0">
        <div id="set-icon-container">
            <div class="set-icon" *ngFor="let set of getCardSets()" [style.minWidth]="set.cardSet.width + 'px'"
                (click)="activeCardSet = set" [class.selected]="set == activeCardSet">
                <img [src]="'assets/set_' + set.cardSet.icon + '.png'"/>
                <span>{{set.cardSet.title}}</span>
                <div class="set-background"></div>
            </div>
        </div>
    </div>
    <div id="store-container">
        <app-store [cardPacks]="activeCardSet.cardPacks"></app-store>
    </div>
    <div id="cards-container">
        <div *ngFor="let card of activeCardSet.cards; index as i" class="card-holder"
            (click)="clickCard(card)" (contextmenu)="rightClickCard(card)">
            <app-card 
                [assignedCard]="(card.maxCount + card.maxFoilCount > 0) ? card.cardType : undefined"
                [isFoil]="card.foilCount > 0"></app-card>
            <div class="card-count">
                <div class="card-count-main">
                    <img src="assets/chest.png">
                    <span>x{{card.count}}</span>
                </div>
                <div class="card-count-foil">
                    <img src="assets/gem.png">
                    <span>x{{card.foilCount}}</span>
                </div>
                <div class="card-count-cost" style="display:none">
                    <img src="assets/bag.png">
                    <span>${{getPrice(card)}}</span>
                </div>
            </div>
        </div>
        <div class="card-holder" style="opacity: 0" *ngFor="let _ of getBurnerCount()"></div>
    </div>
</div>