#binder-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
    justify-content: space-evenly;
    user-select: none;
}

.card-holder{
    padding: 4px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    flex:1;
}

app-card {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 280px;
    perspective: 800px;
}

.card-count {
    display: flex;
    color: white;
    margin-top: -102px;
    font-family: "Monomaniac One", sans-serif;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px 5px 20px 20px;
    padding-top: 110px;
    padding-bottom: 8px;

    div {
        flex: 1;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
    }

    img {
        vertical-align: top;
        margin-right: 3px;
    }

    .card-count-cost {
        flex: 1.5;
    }
}