
<div id="binder-container" *ngIf="getActiveCardSet() != undefined">
    <app-setchooser></app-setchooser>
    <div id="store-container">
        <app-store></app-store>
    </div>
    <div id="cards-container">
        <div *ngFor="let card of getActiveCardSet()?.cards; index as i" class="card-holder"
            (click)="clickCard(card)" (contextmenu)="rightClickCard(card)">
            <app-card 
                [assignedCard]="(card.maxCount + card.maxFoilCount > 0) ? card.cardType : undefined"
                [isFoil]="card.foilCount > 0"></app-card>
            <div class="card-count">
                <div class="card-count-main">
                    <img src="assets/chest.png">
                    <span>x{{card.count}}</span>
                </div>
                <div class="card-count-foil">
                    <img src="assets/gem.png">
                    <span>x{{card.foilCount}}</span>
                </div>
                <div class="card-count-cost" style="display:none">
                    <img src="assets/bag.png">
                    <span>${{getPrice(card)}}</span>
                </div>
            </div>
        </div>
        <div class="card-holder" style="opacity: 0" *ngFor="let _ of getBurnerCount()"></div>
    </div>
</div>