@keyframes animated-background-bars {
    from {background-position: 0% 0px}
    to {background-position: -3000px 0px}
}

.subview {
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: grey;

    border-radius: 4px;
    background: repeating-linear-gradient(
        45deg,
        #e66465,
        #e66465 20px, 
        #d25a5a 20px, 
        #d25a5a 40px
    ); 
    box-shadow: 2px 2px rgba(0,0,0,.8);
    background-size: 4000px 100%;
    animation: animated-background-bars 45s linear infinite;
}



.panel{
    position: absolute;
    left: 15px;
    top: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);

    border-radius: 4px;
    background: repeating-linear-gradient(
        45deg,
        #0a303f,
        #0a303f 20px,
        #0f485e 20px, 
        #0f485e 40px
    ); 
    box-shadow: 2px 2px rgba(0,0,0,.8);
    background-size: 4000px 100%;
    animation: animated-background-bars 45s linear infinite;
}

.panel-interior{
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: #123645;
    border-radius: 4px;

    .window-display {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

@font-face {
    font-family: 'Extra Thick';
    src: url('assets/fonts/Extra_Thick_More_Letter_Gap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Retro Future';
    src: url('assets/fonts/Retro_Future.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formal Future';
    src: url('assets/fonts/Formal_Future_More_Letter_Gap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: rgba(0,0,0,.3);
    width: 9px;
    height: 6px;
    box-shadow: 0px 0px 3px black inset;
    border-bottom: 1px black;
}

::-webkit-scrollbar-thumb {
    background-color: #155066;
    border-radius: 17px;
    border: 1px solid transparent;
    background-clip: padding-box;
    pointer-events: none;
}