<div id="holder">

    <div id="tips">
        <span class="big">Need help?</span> Here are some tips:
        <ul>
            <li>Earning achievements increases your level, giving you more experience to spend on cash production.</li>
            <li>Buying multiple packs at once includes a discount based on how many are purchased; the more, the better.</li>
            <li>Right click on an achievement icon to "pin" it, getting notifications when you make progress towards completing it.</li>
            <li>Right click a card pack to view it from the other side; it's not useful, but it's fun!</li>
            <li>To unlock a new mode of cash production, get to at least Level 5 in the previous one.</li>
        </ul>
    </div>
    <div id="credit">
        <span class="big">Credit to:</span> 
        <ul>
            <li><a href="https://monsteretro.itch.io/">Monsteretrope</a>: Companion sprites.</li>
            <li><a href="https://v3x3d.itch.io/">VEXED</a>: Some fonts (Formal Future).</li>
            <li><a href="https://piiixl.itch.io/">PiiiXL</a>: The 1-bit icons for achievements and UI.</li>
        </ul>
    </div>
    <div id="extra">
        <div id="reset-button">
            <button (click)="reset()">Reset all progress</button>
        </div>
        <div id="plug">
            <a href="http://lennongrad.com"><button>lennongrad.com</button></a>
        </div>
    </div>
</div>